/*
CSS 3 Docs
http://qooxdoo.org/documentation/general/webkit_css_styles
http://trac.webkit.org/browser/trunk/LayoutTests//fast/css
*/

* {
  font-family: 'Arial';
  font-size: 14px;
  font-weight: bold;
}

input[type="checkbox"] {
  -khtml-appearance: none;
  background: url(../images/check-box-bezel.png) no-repeat;
  width: 15px;
  height: 16px;
}

input[type="checkbox"]:checked {
  background: url(../images/check-box-bezel-selected.png) no-repeat;
}

button {
  -khtml-appearance: none;
  background: none;
  line-height: 12px;
  -webkit-border-image: url(../images/button-bezel.png) 0 0 0 0 stretch stretch;
  padding: 4px 6px;
  color: #4F4F4F;
}

button:hover {
  -webkit-border-image: url(../images/button-bezel-selected.png) 0 0 0 0 stretch stretch;
}

button:active {
}

button:disabled {
  
}

header {
  display: block;
  height: 30px;
  width: 300px;
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid #979797;
  background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#C2C2C2));
  color: #2C2C2C;
}